@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  margin: 0;
  padding: 0;
}

.overflow-line {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  color: #fa2800;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background: #fa2800;
    left: 0;
    right: 0;
    bottom: -12px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin: 0 auto;
    opacity: 1;
  }
}

.title {
  position: relative;
  padding-left: 15px;
  &::before {
    content: "";
    width: 3px;
    height: 20px;
    background: #fa2800;
    position: absolute;
    left: 0;
    top: 2px;
  }
}

.example {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
